@font-face {
    font-family: 'MyWebFont';
url('misc/nyala.ttf') format('truetype');
}
body {
    font-family: MyWebFont;
    background-color:lightblue
}

#header #intro #logo-help {
    float: left;
    padding: 0 50px 0 10px
}

#header #intro #logo-help img {
    height: 200px
}

#header #intro #title {
    margin-top: 50px;
    float: left;
    color:white;
    font-size:22px;
}
#title span {
    font-size:30px;
}

#title #duko {
    color:orange;
}

#title #lyosoft {
    color:green;
}

#title #charita {
    color:coral;
}

#title #motto {
    padding:10px;
    font-size:40px;
    color:yellow;
    text-align: center;
}

#logo-silluet{ float: right;position: absolute;bottom:50px;right:0}


.clear {
    clear: both;
    margin-bottom: -24px
}

#main {
    position:absolute;
    top: 40%;
    left: 37%;
    padding:10px;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: lightgreen;
}

#main #logo-clean {
    float: left;
}

#main #logo-clean img {
    height: 400px
}


#main #text #up {
    margin:10px 0 20px 0;
    text-align:center;
    width:700px;
    margin-left:40px

}

#main #text ul {
    margin-left:40px
}

#main #text span {
    font-weight:bold;
    margin-left:70px;
}

#main #text ul li {
    padding: 0 8px;
}

#main #text .b {
    font-weight:bold;
    margin: 0;
}


div#main #text div#dostupnost {
    padding: 7px;
    margin-top:20px;
    text-align:center;
    background-color:#ede671;
}

div#main #text div#dostupnost span {
    font-style:normal;
    font-weight: normal;
    font-size: 17px;
    margin:0;
}

div#main #text div#dostupnost span.kontakt {
    font-style:italic;
    font-weight: bold;
    font-size: 17px;
}

#text span#ico {font-size: 24px}
#footer{
    clear: both;
    position: absolute;
    bottom: 0;
    width:99%;
    text-align:center;
    margin:15px 0;
    padding: 15px 0;
    background-color:#ede671;
}

#footer a{padding:0 25px;}
#liter {font-style:italic; position:relative;right:25px; float:right;width:200px;}
#liter a { padding:0}

#liter a img {
    display: block !important;
}