@font-face {
    font-family: 'MyWebFont';
url('misc/nyala.ttf') format('truetype');
}
body {
    font-family: MyWebFont;
    background-color:lightblue
}
#title {
    text-align:center;
    color:white;
    font-size:22px;
}
#title span {
    font-size:30px;
}

#title #duko {
    color:orange;
}

#title #lyosoft {
    color:green;
}

#title #charita {
    color:coral;
}

#title #motto {
    padding:10px;
    font-size:40px;
    color:yellow;
}

#logo-help{ float: left;position: absolute;top:5px;left:5px}
#logo-silluet{ float: right;position: absolute;bottom:50px;right:0}


#clear {clear:both;}

#main {
    position:absolute;
    top: 50%;
    left: 45%;
    padding:10px;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: lightgreen;
}

#main #up {
    margin:10px 0 20px 0;
    text-align:center;
    width:700px;
    margin-left:40px

}
#main ul {
    margin-left:40px
}

#main span {
    font-weight:bold;
    margin-left:70px;
}
#main ul li {
    padding: 0 8px;
}
#main #title{
    font-weight:bold;
}


div#main div#dostupnost{
    padding: 7px;
    margin-top:20px;
    text-align:center;
    background-color:#ede671;
}

div#main div#dostupnost span{
    font-style:normal;
    font-weight: normal;
    font-size: 17px;
    margin:0;
}
div#main div#dostupnost span.kontakt {
    font-style:italic;
    font-weight: bold;
    font-size: 17px;
}

#text span#ico {font-size: 24px}
#footer{
    clear: both;
    position: absolute;
    bottom: 0;
    width:99%;
    text-align:center;
    margin:15px 0;
    padding: 15px 0;
    background-color:#ede671;
}

#footer a{padding:0 25px;}
#liter {font-style:italic; position:relative;right:25px; float:right;width:200px;}
#liter a { padding:0}